.kumbh-sans  {
    font-family: "Kumbh Sans", sans-serif;
     
  }
body{
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
    font-family: "Kumbh Sans", sans-serif;

}


.header_position_over{
        position: absolute;
        z-index: 8000;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0) !important;
}
.heder-section{
    padding: 20px 50px 20px 50px;
}
.logo-img{
    max-height: 3.5em;
}
.sc_layouts_menu_nav{
    display: flex;
    margin: 0px;
    list-style: none;
}
.sc_layouts_menu_nav>li {
    position: relative;
    float: left;
    z-index: 20;
}
.menu-item a{
    padding: 0.8em;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0px;
    color: white;
}
.menu-item a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease; /* Smooth transition for width change */
}

.menu-item:hover a::after {
    width: 100%; /* Expand the line to full width on hover */
}


.equal-height-row {
    display: flex;
    flex-wrap: wrap;
}

.equal-height-row .col-md-4 {
    display: flex;
    flex-direction: column;
}

.equal-height-row .card{
    flex-grow: 1;
}

 .socials-icons{
    cursor: pointer;
    font-size: 20px;
 }
 .socials-icons i{
    transition: .3s;

 }
 .socials-icons i:hover{
    color: #F82F77;
    
 }
 .companies{
    cursor: pointer;
 }




.sc_button_size_small{
    border-color:#1CC343;
    background-color: #1CC343;
    padding: 13px 40px;
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    color: white;
    transition: .3s;
}
.sc_button_size_small:hover{
    border-color:#0FA231;
    background-color: #0FA231;
}

.sign_button_size_small{
    border-color:#F82F77;
    background-color: #F82F77;
    padding: 13px 40px;
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    color: white;
    transition: .3s;
}
.sign_button_size_small:hover{
    border-color:#DC0653;
    background-color: #DC0653;
}

.bttns{
    display: flex;
    gap: 30px;
}



.hero-section{
    visibility: visible;
    background: transparent;
    
    
    display: block;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
   min-height: 100vh;
    transform: translate(0px, 0px);
    top: 0px;
    position: relative;
     background-image: url('../images/background.jpg');
     background-size: cover;

}
.text-top{
    padding-top: 80px
}

.title-text{
    padding-top: 80px;
    font-size: 40px ;
    font-weight: 800;
    max-width: 300px;
}
.bgg-img {
    background-image: url('../images/graph-1.png');
    background-size: contain;
    background-position: 50% 20%;
    background-repeat: no-repeat;
    text-align: end;
    overflow: hidden;
    animation: zoomIn 2.6s ease-in-out;  
}

@keyframes zoomIn {
    from {
        transform: scale(0); 
    }
    to {
        transform: scale(1);  
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0); /* Start the animation from zero scale */
    }
    to {
        transform: scale(1); /* End the animation at full scale */
    }
}
.bgg-img img{
    width: 600px;
    height: auto;
}
.animated-image {
    animation: slideUpDown 3s ease infinite; /* Adjust the animation duration as needed */
}
@keyframes slideUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Adjust this value for the desired slide distance */
    }
}

.welcome-section{
    padding: 40px 0px;
}



.welcm{
    color: #1CC343;
    margin-bottom: 1.1em;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    opacity: 0.9;
}
.experience{
    font-size: 3.167em;
    font-weight: 700;
    font-style: normal;
    line-height: 1.053em;
    text-decoration: none;
    text-transform: none;
    letter-spacing: -1.1px;
}

.card{
    padding: 3.2em 2em 1.2em;
    background-color: #120D1C;
    position: relative;
   
}

.sc_icons_item_details{
    margin-top: 1.5em;
    text-align: center;
}
.sc_icons_item_title{
    font-size: 1.333em;
    line-height: 1.2em;
    font-weight: 800;
}
.sc_icons_item_description{
    margin-top: 0.3em;
    font-size: 17px;
    line-height: 1.6em;
}

.star{
    background-color: #F82F77;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.commission{
    font-size: 1.944em;
    font-weight: 700;
    font-style: normal;
    line-height: 1.086em;
    text-decoration: none;
    text-transform: none;
    letter-spacing: -0.35px;
    margin: .5em 0px;
}
 .team{
    font-size: 2.611em;
    font-weight: 700;
    font-style: normal;
    line-height: 1.064em;
    text-decoration: none;
    text-transform: none;
    letter-spacing: -0.9px;
 }
.sc_team_item_title{
    text-decoration: none;
    text-transform: none;
    letter-spacing: -0.28px;
    font-size: 24px;
    font-weight: 700;
}
.sc_team_item_subtitle{
    color: #D2D3D5;
}
.elementor-divider{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}
.elementor-divider-separator{
    border: 1px solid #7A7A7A;
    width: 100%;
}


.team-section{
    padding-bottom: 40px;
}

.footer-section{
    padding: 30px 0px;
}



.nav-icon3{
    display: none;
}
.mbl-bnt{
    display: none;
}

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

 

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
#nav-icon3{
    display: none;
}

.mobile-navigation {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #120D1C;
    width: 100%;
    color: white;
    height: 0;
    overflow: hidden;
    z-index: 9999;
    transition: height 0.7s ease-in-out;
}

.mobile-navigation.open {
    
    height: 100vh;
}

.socail{
        position: relative;
        display: block;
        overflow: hidden;
        width: 45px;
        height: 45px;
        line-height: 42px;
        font-size: 16px;
        text-align: center;
        border: 2px solid rgba(255,255,255,0.15);
        color: white;
        border-radius: 50%;
        font-size: 20px;
        transition: .3s;
}
.socail:hover{
    color: #F82F77;
    

}
.fb{
    position: relative;
    display: block;
    overflow: hidden;
    width: 45px;
    height: 45px;
    line-height: 42px;
    font-size: 16px;
    text-align: center;
    border: 2px solid rgba(255,255,255,0.15);
    color: white;
    border-radius: 50%;
    font-size: 20px;
    transition: .3s;
}
.fb:hover{
    color: #3b5998 !important;
}
.mbl-btn{
    gap: 30px;
}
@media(max-width:1123px){
    .bttns {
        display: none;
         
    }
}

@media(max-width:900px){
    .bttns,.menu-list{
        display: none;
         
    }
    #nav-icon3{
        display: block;
    }
   

    .mobile-menu{
        padding-top: 50px;
    }
.mobile-menu ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    gap: 20px;
}
.mobile-menu ul li a{
    font-size: 22px !important;
}
.heder-section{
    padding: 15px;
}
.bgg-img img{
    width: 100%;
    height: auto;
}
.mbl-bnt{
    display: block;
}
.mbl-row{
    flex-direction: column-reverse;
    padding-top: 150px;
}
.title-text{
    max-width: 100%;
    font-size: 32px;
    white-space: nowrap;
    overflow: hidden;
    /* overflow-x: auto; */
}
.mbl-btn{
    margin-top: 50px;
    justify-content: space-between;
}
.companies{
    flex-direction: column;
    gap: 10px;
}
}
@media(min-width:1400px){
    .bgg-img{
        text-align: center;
        margin-right: 24%;
    }
    .title-text{
        max-width: 500px;
        font-size: 66px;
        margin-bottom: 10px;
    }
    .join{
        margin-bottom: 40px;
    }
    .bgg-img img{
        width: 800px;

    }
    .text-top{
        padding-top: 5%;
    }
}